<h3>{{_this.id}}</h3>



<ul>
    {f:_this.arr:item:
        <span>{include welcome/included.html}</span>
    :!}
</ul>

{i:_this.isBool:
    <h2>Is Bool</h2>
:!}

{i:_this.colorIsRed:
    <b style="color\: red">Red</b>
    :
    <b style="color\: green">Green</b>
:!}


<button onclick="app.changePage('/test', [
    {name: 'test', value: true}
])">
    TEST
</button>


<button onclick="app.changePage('/')">
    HOME
</button>

<!-- May be somehow simplify cases like this one -->
<button onclick="app.getController('{{_this.name}}').toggleIsBool()">
    Toggle Is Bool
</button>

<hr>