<ul>
{f:welcomeController.arr:el:
    {i:el.arr:
        <li style="{{el.style}}"><ol>
            {f:el.arr:el_child:
                {i:Array.isArray(el_child):
                    <li style="{{el.style}}">
                        <ul>
                        {f:el_child:el_child_child:
                            <li>{{el_child}}</li>
                        :!}
                        </ul>
                    </li>
                    :
                    <li style="{{el.style}}">
                        <i>{{el_child}}</i>
                    </li>
                :!}
            :!} 
        </ol></li>
        :
        <li style="{{el.style}}">{{el.test}}</li>
    :!}
        
:!}
</ul>
TEST

<h1>{{welcomeController.var1}}</h1>
<h2>{{welcomeController.var2()}}</h2>