<h1>Var1 = {{welcomeController.var1}}</h1>
<h1>Var2 = {{welcomeController.var2()}}</h1>
<h1>Var2 = {{welcomeController.var2()+1}}</h1>
<h1>Var2 = {{welcomeController.var2()+2}}</h1>
<h1>Var2 = {{welcomeController.var2()+3}}</h1>


<ul>
    {f:welcomeController.arr:el:
        <li>
            <ol>
                {f:welcomeController.arr:el:
                    <li>{{el}}</li>
                :!}
            </ol>
        </li>
    :!}
</ul>

<hr>

<ul>
    {f:welcomeController.arr:el:
        <li>test</li>
    :!}
</ul>

{i:welcomeController.isTitle:
    <h1>True</h1>
    :
    <h1>False</h1>
:!}

<h1>TEXT</h1>